.card-container{
  max-width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  background-color: rgb(226, 244, 245);
  padding-top:20px;


}
*{

  font-size: 20px;

}
#button{
  text-align: center;
}
#button>input{
  width: 95%;
  border: none;
  border-radius:5px;
  background-color: rgb(178, 121, 231);
  color: white;
  cursor:pointer;
}
#button>input:active{
  background-color: white;
  color: black;
}
.radio{
  margin-top:20px;
}
#heading{
  text-align:center;
}


